<ion-header>
  <ion-toolbar>
    <ion-title>História da Argentina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
      <ion-col col-12>
       <p>História da Argentina</p>
      </ion-col>

  </ion-row>
  <ion-row>
    <ion-col col-12>
        Argentina, oficialmente República Argentina, é o segundo maior país da América do Sul em território e o terceiro em população, constituída como uma federação de 23 províncias e uma cidade autônoma, Buenos Aires. É o oitavo maior país do mundo em área territorial e o maior entre as nações de língua espanhola, embora México, Colômbia e Espanha, que possuem menor território, sejam mais populosos.
        A área continental da Argentina está entre a cordilheira dos Andes a oeste e o oceano Atlântico, a leste. Faz fronteira com Paraguai e Bolívia ao norte, Brasil e Uruguai a nordeste e com o Chile a oeste e sul. A Argentina reivindica uma parte da Antártida, sobrepondo as reivindicações do Chile e do Reino Unido no continente antártico, mesmo após todas as reivindicações terem sido suspensas pelo Tratado da Antártida de 1961. O país reivindica ainda as Ilhas Malvinas e Geórgia do Sul e Sandwich do Sul, que são administradas pelo Reino Unido como territórios britânicos ultramarinos.
        Uma potência média reconhecida, a Argentina é uma das maiores economias da América do Sul, com uma classificação alta no Índice de Desenvolvimento Humano. Na América Latina, a Argentina possui o quinto maior PIB per capita (nominal) e o maior PIB per capita em paridade do poder de compra. Analistas argumentam que o país tem uma base "para o crescimento futuro, devido ao tamanho do seu mercado, níveis de investimento direto estrangeiro e o percentual de exportações de alta tecnologia como parte do total bens manufaturados" e é classificado pelos investidores como uma economia emergente.
    </ion-col>
      </ion-row>

</ion-grid><ion-button size="small" href="home"> voltar</ion-button>
</ion-content>
