<ion-header>
  <ion-toolbar>
    <ion-title>Pratos Típicos</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://ionicframework.com/docs/assets/ionic/css/ionic.bundle.css"/>
  <script defer src="https://ionicframework.com/docs/assets/ionic/dist/ionic.js"></script>
</ion-header>

<ion-content>
  <ion-button size="small" href="home"> voltar</ion-button>

  <ion-slides>

    <ion-slide>
      <img src="../assets/Img/Assado.jpg"/>
      <h2>Assado <b></b></h2>
      <p><b>Churrasco Argentino</b> O assado argentino é o churrasco brasileiro, porém com uma qualidade muito superior.</p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/Img/Choripán.jpg"/>
      <h2>Choripán</h2>
      <p><b>Pão com linguiça</b> Choripán é um prato típico na argentina, para nós brasileiros é o pão com linguiça.</p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/Img/Empanadas.jpg"/>
      <h2>Empanadas</h2>
      <p><b>Empanadas</b> Empanadas são deliciosos petiscos com recheio de carne, porém em cada região é usado recheios diferentes, mais o preferido dos argentinos é o de carne. </p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/Img/Locro.jpg"/>
      <h2>Locro</h2>
      <p><b>Cozido de milho, abóbora e feijão</b> O locro é um prato originário da região andina, mais conquistou todo o país, é um cozido de milho, abóbora e feijão. </p>
    </ion-slide>

    <ion-slide>
      <img src="../assets/Img/Medialuna.jpg"/>
      <h2>Medialuna</h2>
      <p><b>Croissants</b> Recebem o nome de Medialuna porque o croissants tem o formato de uma meia lua, diferentemente do Brasil, a medialuna faz o acompanhamento do café com leite dos argentinos. </p>
    </ion-slide>

    <img src="../assets/Img/Milanesa.jpg"/>
      <h2>Milanesa</h2>
      <p><b>Milanesa</b> A milanesa é um bife à milanesa, mas bem fininho e grande, as vezes, do tamanho de uma bandeira. </p>
  </ion-slides>

</ion-content>